{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% for m in messages %}
    <div>
        {{ m }};
    </div> <br>
    {% endfor %}
    {% if request.user.is_authenticated %}
    <nav>
        
        <a href="{% url 'account_logout' %}">Log out</a>
        <a href="/">Home</a>
       
    </nav>
    <form action="." method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
    {% endif %}
</body>
</html>